<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Providers</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/listProvider" routerLinkActive="active">Liste Provider</a>
          <a class="nav-item nav-link" routerLink="/addProvider" routerLinkActive="active">Ajouter Provider</a>
          <a class="nav-item nav-link" routerLink="/listArticle" routerLinkActive="active">Liste Article</a>
          <a class="nav-item nav-link" routerLink="/addArticle" routerLinkActive="active">Ajouter Article</a>
      </div>
  </div>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet>
<!-- ici va se charger le composant sur lequel on clique -->
</router-outlet>

